.container {
    background: #fff;
    font-size: 16px;
    color:#310055;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    .head-wrap {
        position: absolute;
        background-color: #333;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 2em;
        line-height: 3em;
        top: 0px;
        width: 100%;
        height: 100px;
    }

    .page-wrap{
        position: absolute;
        top: 100px;
        left: 0px;
        right: 0px;
        padding: 10px;
    }
}

.stats_container {
    .grid_header,
    .grid_body {
        width: 100%;
    }

    .stats_highlight {
        color: red;
    }

    .stats_normal {
        color: #000;
    }

    .stats_unqualified {
        color: #008000;
    }
}

.container {
        
    /* Position and sizing of burger button */
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #fff;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }

    /* General sidebar styles */
    .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}
